<!--<div class="row">-->
    <!--<div class="col-md-8 col-md-offset-2">-->
        <div class="alert alert-warning text-center book-not-found-block" role="alert">No books found</div>
    <!--</div>-->
<!--</div>-->