<div class="add-review-block">
  <%= form_for @review, url: book_reviews_path(@book), html: { role: 'form' } do |f| %>
      <div class="form-group">
        <%= f.label :text, 'Add your review/opinion:' %>
        <%= f.text_area :text, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit 'Send', class: 'btn btn-md btn-primary' %>
      </div>
  <% end %>
</div>
<hr>