<div class="row">
  <form class="form-inline search-book-form">
    <div class="form-group col-md-6">
      <%= text_field_tag(:keywords, params[:keywords], class: 'form-control search-book-title') %>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <div class="form-group col-md-6 book-search-by">
        <span>Search book by title, author, isbn or amazon id</span>
        <%= link_to 'Reset', root_url, class: 'radio-inline' %>
    </div>
  </form>
</div>
