<div class="row">
  <div class="col-md-2">
    <a href="#"><img src="http://placehold.it/150x200" alt="book title"></a>
  </div>
  <div class="col-md-8">
    <h2>CoffeeScript</h2>
    <h5>by Jake Spurlock (Author)</h5>
    <p>ISBN-13: 978-1449343910</p>
    <p>Published: May 22, 2013</p>
    <p>CoffeeScript is JavaScript done right. It provides all of JavaScript's functionality wrapped in a cleaner, more succinct syntax. In the first book on this exciting new language, CoffeeScript guru Trevor Burnham shows you how to hold onto all the power and flexibility of JavaScript while writing clearer, cleaner, and safer code.</p>
  </div>
  <div class="col-md-2">
    <p class="price-box text-center">$49</p>
    <p class="text-center"><a href="#" class="btn btn-md btn-primary add-to-cart-btn">Add to cart</a></p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-2">
    <a href="#"><img src="http://placehold.it/150x200" alt="book title"></a>
  </div>
  <div class="col-md-8">
    <h2>CoffeeScript</h2>
    <h5>by Jake Spurlock (Author)</h5>
    <p>ISBN-13: 978-1449343910</p>
    <p>Published: May 22, 2013</p>
    <p>CoffeeScript is JavaScript done right. It provides all of JavaScript's functionality wrapped in a cleaner, more succinct syntax. In the first book on this exciting new language, CoffeeScript guru Trevor Burnham shows you how to hold onto all the power and flexibility of JavaScript while writing clearer, cleaner, and safer code.</p>
  </div>
  <div class="col-md-2">
    <p class="price-box text-center">$49</p>
    <p class="text-center"><a href="#" class="btn btn-md btn-primary add-to-cart-btn">Add to cart</a></p>
  </div>
</div>