<div class="review-block">
  <p class="review-author">By <span class="review-user-name"><%= review.user.name %></span> on <%= format_date review.created_at %></p>
  <p class="review-text"><%= review.text %></p>
</div>
<hr>